---
layout: default
---
<div class="row my-4">
  {% assign posts = site.documents | where: "collection", page.collection | sort: 'date' | reverse %}
  {% assign latest = posts.first %}
  <div class="col">
    <div class="jumbotron p-4">
      <p class="mt-0">Latest review</p>
      <div class="cover-latest mr-4 my-0" style="background-image: url('/assets/thumbs/{{ latest.id }}.jpg'); float: left;">
        <!-- Include your post title, byline, date, and other info inside the header here. -->
      </div>
      <h2>{{ latest.title }}</h2>
      <p>{{ latest.excerpt }}</p>
      <p><a class="btn btn-outline-dark btn-lg stretched-link" href="{{ latest.url }}" role="button">Read full review</a></p>
    </div>
  </div>
  <div class="col-lg-4 col-sm-12 p-2">
    <div class="sidebar">
      {{ content }}
      <a href="/{{ page.collection }}/about">Read More</a>
    </div>
  </div>
</div>
<h2>All reviews</h2>
<div class="card-columns">
  {% for post in posts %}
  <div class="card">
    <img src="/assets/thumbs/{{ post.id }}.jpg" class="card-img-top" alt="{{ post.title }}">
    <div class="card-body">
      <a href="{{ post.url }}" class="stretched-link"><h5 class="card-title">{{ post.title }}</h5></a>
      <small class="text-lead">{{ post.excerpt }}</small>
      <p class="card-text"></p><small class="text-muted">{{ post.date | timeago }}</small></p>
    </div>
  </div>
  {% endfor %}
</div>