---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="cover mb-4" style="background-image: url('/assets/thumbs/{{ page.id }}.jpg');">
      <!-- Include your post title, byline, date, and other info inside the header here. -->
    </div>
  </header>

  <article class="post-content">
    <div class="card border-dark mb-3 ml-3" style="max-width: 18rem; float: right;">
      <div class="card-header bg-dark text-white h3">Summary*</div>
      <img src="/assets/thumbs/{{ page.id }}.jpg" class="card-img-top p-3" alt="{{ post.title }}">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Score: {{ page.score }} {% if page.score != "Pending" %}/5{% endif %}</li>
        <li class="list-group-item">Price: {{ page.price }}</a></li>
        <li class="list-group-item"><a href="{{ page.product-link }}" target="_blank">{{ page.product-location }}<i class="fas fa-external-link-alt fa-xs pl-1 mb-1"></i></a></li>
      </ul>
    </div>
    {{ content }}
  </article>
</div>
<span class="clear"></span>
<div id="disqus_thread"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://podcast-setup.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<div id="disqus_thread"></div>                            
<footer class="container">
  * Product links may be affiliated. Prices are based on time of review.
</footer>
<script id="dsq-count-scr" src="//podcast-setup.disqus.com/count.js" async></script>